.shared-user-name {
    min-width: 60vw !important;
    display: flex;

}

.shared-page-bg {
    background: url('../../assets/graphics/background.jpg') no-repeat center center fixed !important;
    background-size: cover !important;
}

.shared-page-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.shared-page-card {
    min-width: 60vw !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.shared-page-postcomment {
    overflow: unset !important;
}