#pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 30vw;
}

#sharedItineraryPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*margin: 0 30vw;*/
}

/* For testing */
/* .container {
    border: .1em dotted blue;
} */